{% extends "main/base.html" %}

{% block title %}
<title>theAgency</title>
{% endblock title %}

{% block navbar %}

{% endblock %}


{% block content %}
<section class="featured featured-index">
			<div class="container"> 
				<div class="row mar-bot40">
					<div class="col-md-6 col-md-offset-3">
						
						<div class="align-center">
							
							<h2 class="slogan">blAnD</h2>
							<p>
								Welcome to blAnD, the website that a puts and end to 
								obnoxious, flashy advertising. Here at blAnD, we strive to bring you
								great deals, everyday, without the hassles of normal internet advertising.
								All information that you enter into this site is highly confidential, and is just 
								used by us so that we can bring you the deals you want without the fear of getting
								spammed.
						
							</p>	
						</div>
					</div>
				</div>
			</div>
		</section>


{% endblock %}