{% extends "main/base.html" %}
{% load bootstrap3 %}

{% block title %}
<title>The Agency</title>
{% endblock title %}

{% block content %}
<section class="featured featured-beer">
			<div class="container"> 
				<div class="row mar-bot40">
					<div class="col-md-6 col-md-offset-3">
						
						<div class="align-center">
							<i class="fa fa-beer fa-5x mar-bot20"></i>
							<h2 class="slogan">Advertise Beer</h2>
							<p>
								Due to a recent miscalculation, we are overstocked on Bud Dark 30-racks. We are
								giving away 500 <strong>FREE</strong> 30-racks NOW! Be in the first 500 to enter your information
								and receive one of these 30-racks today! 
							 
				
							</p>	
						</div>
					</div>
				</div>
			</div>
		</section>
<div class="container"> 


<form action="/giveaway/beer/" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    {% endbuttons %}
</form>
</div>

{% endblock %}

