{% extends "main/base.html" %}
{% block title %}
	<title>theAgency</title>
{% endblock title %}
{% block navbar %}
{% endblock %}
{% block content %}
	<section class="featured featured-index">
		<div class="container">
			<div class="row mar-bot40">
				<div class="col-md-6 col-md-offset-3">
					
					<div class="align-center">
						
						<h2 class="slogan">Campaigns</h2>
						<div class="row">
							<div class="panel panel-default">
								<div class="panel-body">
									<h3><a href="{% url 'main.views.beer_form' %}">Free Beer!<span class="sr-only"></span></a></h3>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-body">
									<h3><a href="{% url 'main.views.language_form' %}">Learn a new Language for Free!<span class="sr-only"></span></a></h3>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-body">
									<h3><a href="{% url 'main.views.shirt_form' %}">Free JB Tee!<span class="sr-only"></span></a></h3>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-body">
									<h3><a href="{% url 'main.views.email_form' %}">Discover Some Great New Music!<span class="sr-only"></span></a></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}