{% extends "main/base.html" %}
{% block title %}
	<title>theAgency</title>
{% endblock title %}
{% block navbar %}
{% endblock %}
{% block content %}
	<section class="featured featured-index">
		<div class="container">
			<div class="row mar-bot40">
				<div class="col-md-6 col-md-offset-3">
					
					<div class="align-center">
						
						<h2 class="slogan">Campaigns</h2>
						<div class="row">
						<a href="{% url 'main.views.beer_form' %}">
							<div class="panel panel-default">
								<div class="panel-body">
								</br>
									<h3>FREE BEER!<span class="sr-only"></span></h3>
								</div>
							</div>
							</a>
							<a href="{% url 'main.views.language_form' %}">
							<div class="panel panel-default">
								<div class="panel-body">
								</br>
									<h3>LEARN A NEW LANGUAGE FOR FREE!<span class="sr-only"></span></h3>
								</div>
							</div>
							</a>
							<a href="{% url 'main.views.shirt_form' %}">
							<div class="panel panel-default">
								<div class="panel-body">
								</br>
									<h3>FREE JB TEE!<span class="sr-only"></span></h3>
								</div>
							</div>
							</a>
							<a href="{% url 'main.views.email_form' %}">
							<div class="panel panel-default">
								<div class="panel-body">
								</br>
									<h3>DISCOVER SOME GREAT MUSIC!<span class="sr-only"></span></h3>
								</div>
							</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	{% endblock %}