{% extends "main/base.html" %}
{% load bootstrap3 %}

{% block title %}
<title>The Agency</title>
{% endblock title %}

{% block content %}
<section class="featured featured-email">
			<div class="container"> 
				<div class="row mar-bot40">
					<div class="col-md-6 col-md-offset-3">
						
						<div class="align-center">
							<i class="fa fa-envelope-square fa-5x mar-bot20"></i>
							<h2 class="slogan">Sign up for FREE MP3 downloads</h2>
							<p>
								We are an up-and-coming Indie Rock Band, The Solemn Pugs, and to promote our latest LP,
								we are giving away codes for album downloads. Enter your email below and we will send you 
								those codes as well as other offers such as free concert tickets.
				
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
<div class="container"> 


<form action="/signup/" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    {% endbuttons %}
</form>
<div class ="align-center">
<a href="{% url 'main.views.all_emails' %}"  class="btn-theme btn-small" data-filter=".photography">Check All Emails sent</a>
</div>
</div>
{% endblock %}