{% extends "main/base.html" %}

{% block title %}
<title>theAgency</title>
{% endblock title %}

{% block navbar %}

{% endblock %}


{% block content %}
<section class="featured">
			<div class="container"> 
				<div class="row mar-bot40">
					<div class="col-md-6 col-md-offset-3">
						
						<div class="align-center">
							
							<h2 class="slogan">blAnD</h2>
							<p>
							Hey you, yeah you! I bet you are sick and tired of seeing flashy, creative, advertisement EVERYWHERE. We here at blAnD want to focus on the simple things in life.
				
							</p>	
						</div>
					</div>
				</div>
			</div>
		</section>


{% endblock %}