{% extends "main/base.html" %}
{% block title %}
	<title>theAgency</title>
{% endblock title %}
{% block navbar %}
{% endblock %}
{% block content %}
	<section class="featured featured-index" style="height:80%">
		<div class="container">
			<div class="row mar-bot40">
				<div class="col-md-6 col-md-offset-3">
					
					<div class="align-center">
						
						<h2 class="slogan">blAnD</h2>
						<h3 class="slogan" style="color:white">
						Hey you, yeah you! I bet you are sick and tired of seeing flashy, creative, advertisement EVERYWHERE. We here at blAnD want to focus on the simple things in life.
						
						</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}