{% extends "main/base.html" %}
{% load bootstrap3 %}

{% block title %}
<title>The Agency</title>
{% endblock title %}

{% block content %}
<section class=" featured featured-language">
			<div class="container"> 
				<div class="row mar-bot40">
					<div class="col-md-6 col-md-offset-3">
						
						<div class="align-center">
							<i class="fa fa-language fa-5x mar-bot20"></i>
							<h2 class="slogan">Advertise Language</h2>
							<p>
								LIMITED TIME OFFER! The award winning Mooseta Stone language program is now on sale!
								Normally, $199.99, you can now obtain this program for just 19.99. For a chance cash in on this once-in-a-lifetime offer, fill out the information below
								and check your email for a winning coupon.
				
							</p>	
						</div>
					</div>
				</div>
			</div>
		</section>
<div class="container"> 



<form action="/giveaway/language/" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    {% endbuttons %}
</form>
</div>
{% endblock %}