{% extends "main/base.html" %}
{% load bootstrap3 %}

{% block title %}
<title>The Agency</title>
{% endblock title %}

{% block content %}
<section class=" featured featured-language">
			<div class="container"> 
				<div class="row mar-bot40">
					<div class="col-md-6 col-md-offset-3">
						
						<div class="align-center">
							<i class="fa fa-language fa-5x mar-bot20"></i>
							<h2 class="slogan">Advertise Language</h2>
							<p>
							Lorem ipsum dolor sit amet, natum bonorum ex eu, at vim aliquip lucilius praesent. 
							Alia laudem antiopam te ius, sed ad munere integre, ubique facete sapientem nam ut. 
				
							</p>	
						</div>
					</div>
				</div>
			</div>
		</section>
<div class="container"> 



<form action="/giveaway/language/" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            Submit
        </button>
    {% endbuttons %}
</form>
</div>
{% endblock %}