{% extends "main/base.html" %}

{% block title %}
<title>The Agency</title>
{% endblock title %}

{% block content %}
<section class="featured featured-thanks">
			<div class="container">
				<div class="row mar-bot40">
					<div class="col-md-6 col-md-offset-3">
						
						<div class="align-center">
							<i class="fa fa-smile-o fa-5x mar-bot20"></i>
							<h2 class="slogan">Thanks for your input!</h2>
							<p>
							<a class="" href="{% url 'main.views.campaigns' %}">Fill out another? Click for more FREE stuff!</a>
							</p>	
						</div>
					</div>
				</div>
			</div>
		</section>
{% endblock %}